
# 以'#'开始的行，被视为注释.                                                                                                                          
# 忽略掉所有文件名是 foo.txt的文件.
# 忽略所有生成的 bak文件,
*.bak
# 忽略所有out和 mr文件.
out/
mr/
out/**
mr/*/*
mr/*/